Producción/Store.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "28269a70-213a-38d4-b2ae-16cdd1045c7e" : {
          "identifier" : "28269a70-213a-38d4-b2ae-16cdd1045c7e",
          "name" : "Root JsonTreeReader"
        },
        "d3cd7d01-ef18-3e26-a301-b81d9c6559d2" : {
          "identifier" : "d3cd7d01-ef18-3e26-a301-b81d9c6559d2",
          "name" : "Root JsonRecordSetWriter"
        },
        "f1608f96-f0b0-31a3-acda-5d5766be163b" : {
          "identifier" : "f1608f96-f0b0-31a3-acda-5d5766be163b",
          "name" : "Root AvroReader"
        },
        "d211c155-7dbe-32e2-a9c1-6e79fae6c6be" : {
          "identifier" : "d211c155-7dbe-32e2-a9c1-6e79fae6c6be",
          "name" : "Postgres"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "10 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1928.0,
            "y" : 216.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "3071f15c-a096-3c74-9e93-a9b94cb8f8df",
            "id" : "e1b688e7-9a0c-30d1-b244-3b725c4195f7",
            "name" : "IN",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
          "identifier" : "8e11e509-6b17-37fa-bd17-d066d42fd56c",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "incremental" ],
          "source" : {
            "comments" : "",
            "groupId" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
            "id" : "cb4df5c5-31c3-35a0-80e9-c5ca38e914d4",
            "name" : "Full/Incremental",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "10 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "62a39a35-9af0-3ec0-a4c9-95e1b91cd8ad",
            "id" : "74d0fb2c-c6dc-3f12-b55a-93e4756af278",
            "name" : "PG_UPSERT",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
          "identifier" : "e5d02732-20db-32d3-95b7-f9edf386c864",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "incremental" ],
          "source" : {
            "comments" : "",
            "groupId" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
            "id" : "cb4df5c5-31c3-35a0-80e9-c5ca38e914d4",
            "name" : "Full/Incremental",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "10 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 656.0,
            "y" : 280.0
          }, {
            "x" : 416.0,
            "y" : 280.0
          }, {
            "x" : 416.0,
            "y" : 360.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "id" : "d42ef0ed-5712-39f0-944b-39a8d06e828c",
            "name" : "STORE_PARQUET",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
          "identifier" : "7496ae05-45cf-3d57-b0de-994791a9cc4a",
          "labelIndex" : 2,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
            "id" : "2e745a81-477e-30d6-bcbf-613e5850f250",
            "name" : "IN_STORE",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "10 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
            "id" : "99fa68f2-0056-3641-86fd-b349b78b36fd",
            "name" : "PG_INSERT",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
          "identifier" : "ce8cbb80-c3bf-39a1-ae8f-d419946b412d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "full_semanal", "full_diaria" ],
          "source" : {
            "comments" : "",
            "groupId" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
            "id" : "cb4df5c5-31c3-35a0-80e9-c5ca38e914d4",
            "name" : "Full/Incremental",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "10 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 656.0,
            "y" : 280.0
          }, {
            "x" : 16.0,
            "y" : 280.0
          }, {
            "x" : 16.0,
            "y" : 360.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "3f78ddff-1b4e-372c-a960-35778e075af5",
            "id" : "dcdc4301-35c0-3d07-9a73-6be9aeb8ae5c",
            "name" : "STORE_LOG",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
          "identifier" : "55478646-9daf-3abb-9f2c-4b937df7b3a2",
          "labelIndex" : 2,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
            "id" : "2e745a81-477e-30d6-bcbf-613e5850f250",
            "name" : "IN_STORE",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "10 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 656.0,
            "y" : 216.0
          }, {
            "x" : 656.0,
            "y" : 216.0
          }, {
            "x" : 840.0,
            "y" : 216.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
            "id" : "cb4df5c5-31c3-35a0-80e9-c5ca38e914d4",
            "name" : "Full/Incremental",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
          "identifier" : "fd839892-cd32-3868-acf6-e7e6a4eb09e8",
          "labelIndex" : 2,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
            "id" : "2e745a81-477e-30d6-bcbf-613e5850f250",
            "name" : "IN_STORE",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "10 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
          "identifier" : "2e745a81-477e-30d6-bcbf-613e5850f250",
          "name" : "IN_STORE",
          "position" : {
            "x" : 536.0,
            "y" : 120.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "labels" : [ ],
        "name" : "Store",
        "outputPorts" : [ ],
        "position" : {
          "x" : 168.0,
          "y" : 1680.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "62a39a35-9af0-3ec0-a4c9-95e1b91cd8ad",
              "id" : "94feadf3-0f11-3033-a7be-12f5009a6ef0",
              "name" : "UPSERT postgresql",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "62a39a35-9af0-3ec0-a4c9-95e1b91cd8ad",
            "identifier" : "8bb45651-ca41-30d5-ad81-98033ec7f36b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "62a39a35-9af0-3ec0-a4c9-95e1b91cd8ad",
              "id" : "74d0fb2c-c6dc-3f12-b55a-93e4756af278",
              "name" : "PG_UPSERT",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "10 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
          "identifier" : "62a39a35-9af0-3ec0-a4c9-95e1b91cd8ad",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "62a39a35-9af0-3ec0-a4c9-95e1b91cd8ad",
            "identifier" : "74d0fb2c-c6dc-3f12-b55a-93e4756af278",
            "name" : "PG_UPSERT",
            "position" : {
              "x" : 388.00001651171203,
              "y" : -6.000000813832031
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ ],
          "name" : "Postgres UPSERT",
          "outputPorts" : [ ],
          "position" : {
            "x" : 1272.0,
            "y" : 424.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "success", "failure", "retry" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "62a39a35-9af0-3ec0-a4c9-95e1b91cd8ad",
            "identifier" : "94feadf3-0f11-3033-a7be-12f5009a6ef0",
            "name" : "UPSERT postgresql",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 336.0,
              "y" : 160.0
            },
            "properties" : {
              "put-db-record-allow-multiple-statements" : "false",
              "table-schema-cache-size" : "0",
              "put-db-record-schema-name" : "public",
              "put-db-record-quoted-table-identifiers" : "true",
              "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
              "put-db-record-translate-field-names" : "false",
              "put-db-record-dcbp-service" : "d211c155-7dbe-32e2-a9c1-6e79fae6c6be",
              "put-db-record-query-timeout" : "0 seconds",
              "rollback-on-failure" : "true",
              "put-db-record-statement-type" : "UPSERT",
              "db-type" : "PostgreSQL",
              "put-db-record-update-keys" : "${pk}",
              "put-db-record-quoted-identifiers" : "true",
              "put-db-record-table-name" : "fal_${tabla}",
              "put-db-record-unmatched-field-behavior" : "Fail on Unmatched Fields",
              "put-db-record-max-batch-size" : "100",
              "put-db-record-record-reader" : "f1608f96-f0b0-31a3-acda-5d5766be163b"
            },
            "propertyDescriptors" : {
              "put-db-record-allow-multiple-statements" : {
                "displayName" : "Allow Multiple SQL Statements",
                "identifiesControllerService" : false,
                "name" : "put-db-record-allow-multiple-statements",
                "sensitive" : false
              },
              "table-schema-cache-size" : {
                "displayName" : "Table Schema Cache Size",
                "identifiesControllerService" : false,
                "name" : "table-schema-cache-size",
                "sensitive" : false
              },
              "put-db-record-schema-name" : {
                "displayName" : "Schema Name",
                "identifiesControllerService" : false,
                "name" : "put-db-record-schema-name",
                "sensitive" : false
              },
              "put-db-record-field-containing-sql" : {
                "displayName" : "Field Containing SQL",
                "identifiesControllerService" : false,
                "name" : "put-db-record-field-containing-sql",
                "sensitive" : false
              },
              "put-db-record-quoted-table-identifiers" : {
                "displayName" : "Quote Table Identifiers",
                "identifiesControllerService" : false,
                "name" : "put-db-record-quoted-table-identifiers",
                "sensitive" : false
              },
              "Statement Type Record Path" : {
                "displayName" : "Statement Type Record Path",
                "identifiesControllerService" : false,
                "name" : "Statement Type Record Path",
                "sensitive" : false
              },
              "put-db-record-unmatched-column-behavior" : {
                "displayName" : "Unmatched Column Behavior",
                "identifiesControllerService" : false,
                "name" : "put-db-record-unmatched-column-behavior",
                "sensitive" : false
              },
              "put-db-record-catalog-name" : {
                "displayName" : "Catalog Name",
                "identifiesControllerService" : false,
                "name" : "put-db-record-catalog-name",
                "sensitive" : false
              },
              "put-db-record-translate-field-names" : {
                "displayName" : "Translate Field Names",
                "identifiesControllerService" : false,
                "name" : "put-db-record-translate-field-names",
                "sensitive" : false
              },
              "put-db-record-dcbp-service" : {
                "displayName" : "Database Connection Pooling Service",
                "identifiesControllerService" : true,
                "name" : "put-db-record-dcbp-service",
                "sensitive" : false
              },
              "put-db-record-query-timeout" : {
                "displayName" : "Max Wait Time",
                "identifiesControllerService" : false,
                "name" : "put-db-record-query-timeout",
                "sensitive" : false
              },
              "rollback-on-failure" : {
                "displayName" : "Rollback On Failure",
                "identifiesControllerService" : false,
                "name" : "rollback-on-failure",
                "sensitive" : false
              },
              "put-db-record-statement-type" : {
                "displayName" : "Statement Type",
                "identifiesControllerService" : false,
                "name" : "put-db-record-statement-type",
                "sensitive" : false
              },
              "db-type" : {
                "displayName" : "Database Type",
                "identifiesControllerService" : false,
                "name" : "db-type",
                "sensitive" : false
              },
              "put-db-record-update-keys" : {
                "displayName" : "Update Keys",
                "identifiesControllerService" : false,
                "name" : "put-db-record-update-keys",
                "sensitive" : false
              },
              "put-db-record-quoted-identifiers" : {
                "displayName" : "Quote Column Identifiers",
                "identifiesControllerService" : false,
                "name" : "put-db-record-quoted-identifiers",
                "sensitive" : false
              },
              "put-db-record-table-name" : {
                "displayName" : "Table Name",
                "identifiesControllerService" : false,
                "name" : "put-db-record-table-name",
                "sensitive" : false
              },
              "put-db-record-unmatched-field-behavior" : {
                "displayName" : "Unmatched Field Behavior",
                "identifiesControllerService" : false,
                "name" : "put-db-record-unmatched-field-behavior",
                "sensitive" : false
              },
              "put-db-record-max-batch-size" : {
                "displayName" : "Maximum Batch Size",
                "identifiesControllerService" : false,
                "name" : "put-db-record-max-batch-size",
                "sensitive" : false
              },
              "put-db-record-record-reader" : {
                "displayName" : "Record Reader",
                "identifiesControllerService" : true,
                "name" : "put-db-record-record-reader",
                "sensitive" : false
              },
              "Data Record Path" : {
                "displayName" : "Data Record Path",
                "identifiesControllerService" : false,
                "name" : "Data Record Path",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3f78ddff-1b4e-372c-a960-35778e075af5",
              "id" : "cedf1250-0eb8-3575-9320-b7e16f30b98e",
              "name" : "INSERT nifi_logs",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3f78ddff-1b4e-372c-a960-35778e075af5",
            "identifier" : "a428d343-b2af-39dc-8070-4698dc8d4581",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "3f78ddff-1b4e-372c-a960-35778e075af5",
              "id" : "dcdc4301-35c0-3d07-9a73-6be9aeb8ae5c",
              "name" : "STORE_LOG",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "10 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
          "identifier" : "3f78ddff-1b4e-372c-a960-35778e075af5",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "3f78ddff-1b4e-372c-a960-35778e075af5",
            "identifier" : "dcdc4301-35c0-3d07-9a73-6be9aeb8ae5c",
            "name" : "STORE_LOG",
            "position" : {
              "x" : 606.000016511712,
              "y" : 92.99999918616797
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ ],
          "name" : "LOG",
          "outputPorts" : [ ],
          "position" : {
            "x" : -176.0,
            "y" : 424.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "success", "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "3f78ddff-1b4e-372c-a960-35778e075af5",
            "identifier" : "cedf1250-0eb8-3575-9320-b7e16f30b98e",
            "name" : "INSERT nifi_logs",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 552.0,
              "y" : 280.0
            },
            "properties" : {
              "esql-max-rows" : "0",
              "dbf-default-precision" : "10",
              "Max Wait Time" : "0 seconds",
              "Database Connection Pooling Service" : "d211c155-7dbe-32e2-a9c1-6e79fae6c6be",
              "dbf-user-logical-types" : "false",
              "dbf-default-scale" : "0",
              "compression-format" : "NONE",
              "esql-output-batch-size" : "0",
              "esql-fetch-size" : "0",
              "SQL select query" : "INSERT INTO nifi_logs (trigger_inicio,tabla,tipo_recarga,query_inicio,query_fin,tiempo_ejecucion,registros,trigger_fin) \nVALUES ('${trigger_inicio}','${tabla}','${tipo_trigger}','${query_inicio}','${query_fin}',${executesql.query.duration},${executesql.row.count},current_timestamp);\n",
              "dbf-normalize" : "false"
            },
            "propertyDescriptors" : {
              "esql-max-rows" : {
                "displayName" : "Max Rows Per Flow File",
                "identifiesControllerService" : false,
                "name" : "esql-max-rows",
                "sensitive" : false
              },
              "dbf-default-precision" : {
                "displayName" : "Default Decimal Precision",
                "identifiesControllerService" : false,
                "name" : "dbf-default-precision",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Connection Pooling Service" : {
                "displayName" : "Database Connection Pooling Service",
                "identifiesControllerService" : true,
                "name" : "Database Connection Pooling Service",
                "sensitive" : false
              },
              "sql-post-query" : {
                "displayName" : "SQL Post-Query",
                "identifiesControllerService" : false,
                "name" : "sql-post-query",
                "sensitive" : false
              },
              "dbf-user-logical-types" : {
                "displayName" : "Use Avro Logical Types",
                "identifiesControllerService" : false,
                "name" : "dbf-user-logical-types",
                "sensitive" : false
              },
              "dbf-default-scale" : {
                "displayName" : "Default Decimal Scale",
                "identifiesControllerService" : false,
                "name" : "dbf-default-scale",
                "sensitive" : false
              },
              "sql-pre-query" : {
                "displayName" : "SQL Pre-Query",
                "identifiesControllerService" : false,
                "name" : "sql-pre-query",
                "sensitive" : false
              },
              "compression-format" : {
                "displayName" : "Compression Format",
                "identifiesControllerService" : false,
                "name" : "compression-format",
                "sensitive" : false
              },
              "esql-output-batch-size" : {
                "displayName" : "Output Batch Size",
                "identifiesControllerService" : false,
                "name" : "esql-output-batch-size",
                "sensitive" : false
              },
              "esql-fetch-size" : {
                "displayName" : "Fetch Size",
                "identifiesControllerService" : false,
                "name" : "esql-fetch-size",
                "sensitive" : false
              },
              "SQL select query" : {
                "displayName" : "SQL select query",
                "identifiesControllerService" : false,
                "name" : "SQL select query",
                "sensitive" : false
              },
              "dbf-normalize" : {
                "displayName" : "Normalize Table/Column Names",
                "identifiesControllerService" : false,
                "name" : "dbf-normalize",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
              "id" : "f88c7b6b-8c7e-3b98-9ab4-af1dec484119",
              "name" : "Filename = ${tabla}.parquet",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "a260d839-b4ad-32af-b968-2183539b49fe",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
              "id" : "4dde9ef2-e699-3573-9268-67dc1e5395e9",
              "name" : "Avro -> Parquet",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
              "id" : "fbca065e-2f31-3950-803d-623db9f2ef10",
              "name" : "Escritura del archivo",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "d680de3c-5a82-3f82-b026-713aad6fd68e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
              "id" : "16a6f3ec-95b3-358e-bdde-444aec8d461f",
              "name" : "Filename = ${tabla}.parquet",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
              "id" : "4dde9ef2-e699-3573-9268-67dc1e5395e9",
              "name" : "Avro -> Parquet",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "8ba19af4-efa0-3272-a7e1-656da7b1a6d2",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "incremental" ],
            "source" : {
              "comments" : "",
              "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
              "id" : "45a4a15e-b411-3241-8d9d-d7f32563b33e",
              "name" : "Full/Incremental",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
              "id" : "b96090e2-ae52-3096-a645-b617d680c631",
              "name" : "ExecuteStreamCommand",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "b45d0ae0-ddbf-3243-b91c-a7365ea703f0",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "full_semanal", "full_diaria" ],
            "source" : {
              "comments" : "",
              "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
              "id" : "45a4a15e-b411-3241-8d9d-d7f32563b33e",
              "name" : "Full/Incremental",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
              "id" : "f4e33f52-0214-3590-99c8-f91be089e1f4",
              "name" : "Escritura del archivo",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "2660c34b-571b-3564-beaa-3fee734ddaa8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
              "id" : "f88c7b6b-8c7e-3b98-9ab4-af1dec484119",
              "name" : "Filename = ${tabla}.parquet",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
              "id" : "45a4a15e-b411-3241-8d9d-d7f32563b33e",
              "name" : "Full/Incremental",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "3951b3a5-b66c-3ab5-b7d5-e5461e2edba5",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
              "id" : "d42ef0ed-5712-39f0-944b-39a8d06e828c",
              "name" : "STORE_PARQUET",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
              "id" : "2b02e98f-fe4d-3abd-b977-cec67682e8d5",
              "name" : "Avro -> Parquet",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "93a88514-8a77-3f8e-b4a4-719856800a33",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "original" ],
            "source" : {
              "comments" : "",
              "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
              "id" : "b96090e2-ae52-3096-a645-b617d680c631",
              "name" : "ExecuteStreamCommand",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
              "id" : "16a6f3ec-95b3-358e-bdde-444aec8d461f",
              "name" : "Filename = ${tabla}.parquet",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "0de6c218-163e-3133-a3da-b0500bf09fca",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "53cce2d7-06b1-3382-804f-f1a173159652",
              "id" : "2b02e98f-fe4d-3abd-b977-cec67682e8d5",
              "name" : "Avro -> Parquet",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ {
            "bundle" : {
              "artifact" : "nifi-parquet-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.2"
            },
            "componentType" : "CONTROLLER_SERVICE",
            "controllerServiceApis" : [ {
              "bundle" : {
                "artifact" : "nifi-standard-services-api-nar",
                "group" : "org.apache.nifi",
                "version" : "1.15.2"
              },
              "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
            } ],
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "ffe96a33-ca20-359e-a4d1-ee95101ebdc5",
            "name" : "ParquetRecordSetWriter",
            "properties" : {
              "avro-write-old-list-structure" : "true",
              "Schema Write Strategy" : "no-schema",
              "compression-type" : "UNCOMPRESSED",
              "schema-name" : "${schema.name}",
              "cache-size" : "1000",
              "schema-access-strategy" : "inherit-record-schema",
              "schema-protocol-version" : "1",
              "schema-text" : "${avro.schema}",
              "avro-add-list-element-records" : "true"
            },
            "propertyDescriptors" : {
              "schema-branch" : {
                "displayName" : "Schema Branch",
                "identifiesControllerService" : false,
                "name" : "schema-branch",
                "sensitive" : false
              },
              "max-padding-size" : {
                "displayName" : "Max Padding Size",
                "identifiesControllerService" : false,
                "name" : "max-padding-size",
                "sensitive" : false
              },
              "avro-write-old-list-structure" : {
                "displayName" : "Avro Write Old List Structure",
                "identifiesControllerService" : false,
                "name" : "avro-write-old-list-structure",
                "sensitive" : false
              },
              "row-group-size" : {
                "displayName" : "Row Group Size",
                "identifiesControllerService" : false,
                "name" : "row-group-size",
                "sensitive" : false
              },
              "schema-cache" : {
                "displayName" : "Schema Cache",
                "identifiesControllerService" : true,
                "name" : "schema-cache",
                "sensitive" : false
              },
              "enable-dictionary-encoding" : {
                "displayName" : "Enable Dictionary Encoding",
                "identifiesControllerService" : false,
                "name" : "enable-dictionary-encoding",
                "sensitive" : false
              },
              "Schema Write Strategy" : {
                "displayName" : "Schema Write Strategy",
                "identifiesControllerService" : false,
                "name" : "Schema Write Strategy",
                "sensitive" : false
              },
              "page-size" : {
                "displayName" : "Page Size",
                "identifiesControllerService" : false,
                "name" : "page-size",
                "sensitive" : false
              },
              "writer-version" : {
                "displayName" : "Writer Version",
                "identifiesControllerService" : false,
                "name" : "writer-version",
                "sensitive" : false
              },
              "compression-type" : {
                "displayName" : "Compression Type",
                "identifiesControllerService" : false,
                "name" : "compression-type",
                "sensitive" : false
              },
              "schema-name" : {
                "displayName" : "Schema Name",
                "identifiesControllerService" : false,
                "name" : "schema-name",
                "sensitive" : false
              },
              "cache-size" : {
                "displayName" : "Cache Size",
                "identifiesControllerService" : false,
                "name" : "cache-size",
                "sensitive" : false
              },
              "schema-registry" : {
                "displayName" : "Schema Registry",
                "identifiesControllerService" : true,
                "name" : "schema-registry",
                "sensitive" : false
              },
              "enable-validation" : {
                "displayName" : "Enable Validation",
                "identifiesControllerService" : false,
                "name" : "enable-validation",
                "sensitive" : false
              },
              "dictionary-page-size" : {
                "displayName" : "Dictionary Page Size",
                "identifiesControllerService" : false,
                "name" : "dictionary-page-size",
                "sensitive" : false
              },
              "int96-fields" : {
                "displayName" : "INT96 Fields",
                "identifiesControllerService" : false,
                "name" : "int96-fields",
                "sensitive" : false
              },
              "schema-access-strategy" : {
                "displayName" : "Schema Access Strategy",
                "identifiesControllerService" : false,
                "name" : "schema-access-strategy",
                "sensitive" : false
              },
              "schema-protocol-version" : {
                "displayName" : "Schema Protocol Version",
                "identifiesControllerService" : false,
                "name" : "schema-protocol-version",
                "sensitive" : false
              },
              "schema-version" : {
                "displayName" : "Schema Version",
                "identifiesControllerService" : false,
                "name" : "schema-version",
                "sensitive" : false
              },
              "schema-text" : {
                "displayName" : "Schema Text",
                "identifiesControllerService" : false,
                "name" : "schema-text",
                "sensitive" : false
              },
              "avro-add-list-element-records" : {
                "displayName" : "Avro Add List Element Records",
                "identifiesControllerService" : false,
                "name" : "avro-add-list-element-records",
                "sensitive" : false
              }
            },
            "type" : "org.apache.nifi.parquet.ParquetRecordSetWriter"
          } ],
          "defaultBackPressureDataSizeThreshold" : "10 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
          "identifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "d42ef0ed-5712-39f0-944b-39a8d06e828c",
            "name" : "STORE_PARQUET",
            "position" : {
              "x" : 904.0,
              "y" : -168.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ ],
          "name" : "Parquet",
          "outputPorts" : [ ],
          "position" : {
            "x" : 224.0,
            "y" : 424.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "success", "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 10,
            "executionNode" : "ALL",
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "f4e33f52-0214-3590-99c8-f91be089e1f4",
            "name" : "Escritura del archivo",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1232.0,
              "y" : 848.0
            },
            "properties" : {
              "Create Missing Directories" : "true",
              "Permissions" : "776",
              "Directory" : "${store_path}/incremental",
              "Conflict Resolution Strategy" : "replace"
            },
            "propertyDescriptors" : {
              "Group" : {
                "displayName" : "Group",
                "identifiesControllerService" : false,
                "name" : "Group",
                "sensitive" : false
              },
              "Owner" : {
                "displayName" : "Owner",
                "identifiesControllerService" : false,
                "name" : "Owner",
                "sensitive" : false
              },
              "Create Missing Directories" : {
                "displayName" : "Create Missing Directories",
                "identifiesControllerService" : false,
                "name" : "Create Missing Directories",
                "sensitive" : false
              },
              "Permissions" : {
                "displayName" : "Permissions",
                "identifiesControllerService" : false,
                "name" : "Permissions",
                "sensitive" : false
              },
              "Maximum File Count" : {
                "displayName" : "Maximum File Count",
                "identifiesControllerService" : false,
                "name" : "Maximum File Count",
                "sensitive" : false
              },
              "Last Modified Time" : {
                "displayName" : "Last Modified Time",
                "identifiesControllerService" : false,
                "name" : "Last Modified Time",
                "sensitive" : false
              },
              "Directory" : {
                "displayName" : "Directory",
                "identifiesControllerService" : false,
                "name" : "Directory",
                "sensitive" : false
              },
              "Conflict Resolution Strategy" : {
                "displayName" : "Conflict Resolution Strategy",
                "identifiesControllerService" : false,
                "name" : "Conflict Resolution Strategy",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "45a4a15e-b411-3241-8d9d-d7f32563b33e",
            "name" : "Full/Incremental",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 848.0,
              "y" : 16.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "full_semanal" : "${tipo_trigger:equals( 'full_semanal' ):and(${directo_a_metabase:equals('true')})}",
              "full_diaria" : "${tipo_trigger:equals( 'full_diaria' ):and(${directo_a_metabase:equals('true')})}",
              "incremental" : "${tipo_trigger:equals( 'incremental' ):and(${directo_a_metabase:equals('true')})}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "full_semanal" : {
                "displayName" : "full_semanal",
                "identifiesControllerService" : false,
                "name" : "full_semanal",
                "sensitive" : false
              },
              "full_diaria" : {
                "displayName" : "full_diaria",
                "identifiesControllerService" : false,
                "name" : "full_diaria",
                "sensitive" : false
              },
              "incremental" : {
                "displayName" : "incremental",
                "identifiesControllerService" : false,
                "name" : "incremental",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "output stream", "nonzero status" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "b96090e2-ae52-3096-a645-b617d680c631",
            "name" : "ExecuteStreamCommand",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 416.0,
              "y" : 216.0
            },
            "properties" : {
              "argumentsStrategy" : "Command Arguments Property",
              "Max Attribute Length" : "256",
              "Command Path" : "/bin/rm",
              "Argument Delimiter" : ";",
              "Ignore STDIN" : "true",
              "Command Arguments" : "-rf;${store_path}/"
            },
            "propertyDescriptors" : {
              "argumentsStrategy" : {
                "displayName" : "Command Arguments Strategy",
                "identifiesControllerService" : false,
                "name" : "argumentsStrategy",
                "sensitive" : false
              },
              "Max Attribute Length" : {
                "displayName" : "Max Attribute Length",
                "identifiesControllerService" : false,
                "name" : "Max Attribute Length",
                "sensitive" : false
              },
              "Command Path" : {
                "displayName" : "Command Path",
                "identifiesControllerService" : false,
                "name" : "Command Path",
                "sensitive" : false
              },
              "Working Directory" : {
                "displayName" : "Working Directory",
                "identifiesControllerService" : false,
                "name" : "Working Directory",
                "sensitive" : false
              },
              "Output Destination Attribute" : {
                "displayName" : "Output Destination Attribute",
                "identifiesControllerService" : false,
                "name" : "Output Destination Attribute",
                "sensitive" : false
              },
              "Argument Delimiter" : {
                "displayName" : "Argument Delimiter",
                "identifiesControllerService" : false,
                "name" : "Argument Delimiter",
                "sensitive" : false
              },
              "Ignore STDIN" : {
                "displayName" : "Ignore STDIN",
                "identifiesControllerService" : false,
                "name" : "Ignore STDIN",
                "sensitive" : false
              },
              "Command Arguments" : {
                "displayName" : "Command Arguments",
                "identifiesControllerService" : false,
                "name" : "Command Arguments",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 10,
            "executionNode" : "ALL",
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "f88c7b6b-8c7e-3b98-9ab4-af1dec484119",
            "name" : "Filename = ${tabla}.parquet",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1232.0,
              "y" : 512.0
            },
            "properties" : {
              "filename" : "${tabla}_${file_timestamp}.parquet",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "filename" : {
                "displayName" : "filename",
                "identifiesControllerService" : false,
                "name" : "filename",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 10,
            "executionNode" : "ALL",
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "16a6f3ec-95b3-358e-bdde-444aec8d461f",
            "name" : "Filename = ${tabla}.parquet",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 416.0,
              "y" : 704.0
            },
            "properties" : {
              "filename" : "${tabla}.parquet",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "filename" : {
                "displayName" : "filename",
                "identifiesControllerService" : false,
                "name" : "filename",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "2b02e98f-fe4d-3abd-b977-cec67682e8d5",
            "name" : "Avro -> Parquet",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 416.0,
              "y" : 472.0
            },
            "properties" : {
              "record-writer" : "ffe96a33-ca20-359e-a4d1-ee95101ebdc5",
              "record-reader" : "f1608f96-f0b0-31a3-acda-5d5766be163b",
              "include-zero-record-flowfiles" : "false"
            },
            "propertyDescriptors" : {
              "record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "record-writer",
                "sensitive" : false
              },
              "record-reader" : {
                "displayName" : "Record Reader",
                "identifiesControllerService" : true,
                "name" : "record-reader",
                "sensitive" : false
              },
              "include-zero-record-flowfiles" : {
                "displayName" : "Include Zero Record FlowFiles",
                "identifiesControllerService" : false,
                "name" : "include-zero-record-flowfiles",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ConvertRecord",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success", "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 10,
            "executionNode" : "ALL",
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "fbca065e-2f31-3950-803d-623db9f2ef10",
            "name" : "Escritura del archivo",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 416.0,
              "y" : 952.0
            },
            "properties" : {
              "Create Missing Directories" : "true",
              "Directory" : "${store_path}/full",
              "Conflict Resolution Strategy" : "replace"
            },
            "propertyDescriptors" : {
              "Group" : {
                "displayName" : "Group",
                "identifiesControllerService" : false,
                "name" : "Group",
                "sensitive" : false
              },
              "Owner" : {
                "displayName" : "Owner",
                "identifiesControllerService" : false,
                "name" : "Owner",
                "sensitive" : false
              },
              "Create Missing Directories" : {
                "displayName" : "Create Missing Directories",
                "identifiesControllerService" : false,
                "name" : "Create Missing Directories",
                "sensitive" : false
              },
              "Permissions" : {
                "displayName" : "Permissions",
                "identifiesControllerService" : false,
                "name" : "Permissions",
                "sensitive" : false
              },
              "Maximum File Count" : {
                "displayName" : "Maximum File Count",
                "identifiesControllerService" : false,
                "name" : "Maximum File Count",
                "sensitive" : false
              },
              "Last Modified Time" : {
                "displayName" : "Last Modified Time",
                "identifiesControllerService" : false,
                "name" : "Last Modified Time",
                "sensitive" : false
              },
              "Directory" : {
                "displayName" : "Directory",
                "identifiesControllerService" : false,
                "name" : "Directory",
                "sensitive" : false
              },
              "Conflict Resolution Strategy" : {
                "displayName" : "Conflict Resolution Strategy",
                "identifiesControllerService" : false,
                "name" : "Conflict Resolution Strategy",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53cce2d7-06b1-3382-804f-f1a173159652",
            "identifier" : "4dde9ef2-e699-3573-9268-67dc1e5395e9",
            "name" : "Avro -> Parquet",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1232.0,
              "y" : 216.0
            },
            "properties" : {
              "record-writer" : "ffe96a33-ca20-359e-a4d1-ee95101ebdc5",
              "record-reader" : "f1608f96-f0b0-31a3-acda-5d5766be163b",
              "include-zero-record-flowfiles" : "false"
            },
            "propertyDescriptors" : {
              "record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "record-writer",
                "sensitive" : false
              },
              "record-reader" : {
                "displayName" : "Record Reader",
                "identifiesControllerService" : true,
                "name" : "record-reader",
                "sensitive" : false
              },
              "include-zero-record-flowfiles" : {
                "displayName" : "Include Zero Record FlowFiles",
                "identifiesControllerService" : false,
                "name" : "include-zero-record-flowfiles",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ConvertRecord",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3071f15c-a096-3c74-9e93-a9b94cb8f8df",
              "id" : "5da52601-41fe-34d9-848e-57dfe9bde394",
              "name" : "Escritura de {tabla}.last",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3071f15c-a096-3c74-9e93-a9b94cb8f8df",
            "identifier" : "a655fca5-461c-316e-9de1-83545a2a640c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "3071f15c-a096-3c74-9e93-a9b94cb8f8df",
              "id" : "56596030-73cc-3e99-8263-cb976c1375db",
              "name" : "fecha_final -> contenido flowfile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3071f15c-a096-3c74-9e93-a9b94cb8f8df",
              "id" : "56596030-73cc-3e99-8263-cb976c1375db",
              "name" : "fecha_final -> contenido flowfile",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3071f15c-a096-3c74-9e93-a9b94cb8f8df",
            "identifier" : "382584ca-0990-3b7f-8530-ec95136c3405",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "3071f15c-a096-3c74-9e93-a9b94cb8f8df",
              "id" : "e1b688e7-9a0c-30d1-b244-3b725c4195f7",
              "name" : "IN",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "10 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
          "identifier" : "3071f15c-a096-3c74-9e93-a9b94cb8f8df",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "3071f15c-a096-3c74-9e93-a9b94cb8f8df",
            "identifier" : "e1b688e7-9a0c-30d1-b244-3b725c4195f7",
            "name" : "IN",
            "position" : {
              "x" : 744.0,
              "y" : 88.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ ],
          "name" : "Fecha ultimo incremental",
          "outputPorts" : [ ],
          "position" : {
            "x" : 1736.0,
            "y" : 424.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "success", "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "3071f15c-a096-3c74-9e93-a9b94cb8f8df",
            "identifier" : "5da52601-41fe-34d9-848e-57dfe9bde394",
            "name" : "Escritura de {tabla}.last",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 683.9999424531229,
              "y" : 454.4999958083664
            },
            "properties" : {
              "Create Missing Directories" : "true",
              "Permissions" : "776",
              "Directory" : "/datalake/data/falcon",
              "Conflict Resolution Strategy" : "replace"
            },
            "propertyDescriptors" : {
              "Group" : {
                "displayName" : "Group",
                "identifiesControllerService" : false,
                "name" : "Group",
                "sensitive" : false
              },
              "Owner" : {
                "displayName" : "Owner",
                "identifiesControllerService" : false,
                "name" : "Owner",
                "sensitive" : false
              },
              "Create Missing Directories" : {
                "displayName" : "Create Missing Directories",
                "identifiesControllerService" : false,
                "name" : "Create Missing Directories",
                "sensitive" : false
              },
              "Permissions" : {
                "displayName" : "Permissions",
                "identifiesControllerService" : false,
                "name" : "Permissions",
                "sensitive" : false
              },
              "Maximum File Count" : {
                "displayName" : "Maximum File Count",
                "identifiesControllerService" : false,
                "name" : "Maximum File Count",
                "sensitive" : false
              },
              "Last Modified Time" : {
                "displayName" : "Last Modified Time",
                "identifiesControllerService" : false,
                "name" : "Last Modified Time",
                "sensitive" : false
              },
              "Directory" : {
                "displayName" : "Directory",
                "identifiesControllerService" : false,
                "name" : "Directory",
                "sensitive" : false
              },
              "Conflict Resolution Strategy" : {
                "displayName" : "Conflict Resolution Strategy",
                "identifiesControllerService" : false,
                "name" : "Conflict Resolution Strategy",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "3071f15c-a096-3c74-9e93-a9b94cb8f8df",
            "identifier" : "56596030-73cc-3e99-8263-cb976c1375db",
            "name" : "fecha_final -> contenido flowfile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 688.0,
              "y" : 240.0
            },
            "properties" : {
              "null-value" : "false",
              "include-core-attributes" : "false",
              "destination" : "flowfile-content",
              "include-schema" : "false",
              "attribute-list" : "new_fecha_mod"
            },
            "propertyDescriptors" : {
              "null-value" : {
                "displayName" : "Null Value",
                "identifiesControllerService" : false,
                "name" : "null-value",
                "sensitive" : false
              },
              "include-core-attributes" : {
                "displayName" : "Include Core Attributes",
                "identifiesControllerService" : false,
                "name" : "include-core-attributes",
                "sensitive" : false
              },
              "attributes-regex" : {
                "displayName" : "Attributes Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-regex",
                "sensitive" : false
              },
              "destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "destination",
                "sensitive" : false
              },
              "include-schema" : {
                "displayName" : "Include Schema",
                "identifiesControllerService" : false,
                "name" : "include-schema",
                "sensitive" : false
              },
              "attribute-list" : {
                "displayName" : "Attribute List",
                "identifiesControllerService" : false,
                "name" : "attribute-list",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.AttributesToCSV",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 647.2155287101364,
              "y" : 450.5873990233471
            }, {
              "x" : 647.2155287101364,
              "y" : 500.5873990233471
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
              "id" : "c39a4dd4-fc92-3538-99b3-6e948c96d9fa",
              "name" : "INSERT postgresql",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
            "identifier" : "d026327b-1330-30aa-9300-e4c879837239",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure", "retry" ],
            "source" : {
              "comments" : "",
              "groupId" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
              "id" : "c39a4dd4-fc92-3538-99b3-6e948c96d9fa",
              "name" : "INSERT postgresql",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 808.0,
              "y" : 72.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
              "id" : "8a71e994-e288-3c59-9b1d-2c8cc823bfbb",
              "name" : "ExecuteSQL",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
            "identifier" : "833a0acd-a977-33a3-91b5-14c63d3471d9",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
              "id" : "efc8861c-9f31-38f9-80a0-90828dfd8a3a",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
              "id" : "c39a4dd4-fc92-3538-99b3-6e948c96d9fa",
              "name" : "INSERT postgresql",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
            "identifier" : "d4f2b0c1-526b-364e-adc8-366aab0ffb1f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
              "id" : "cda0c910-261e-3e85-bd79-a96d12e42047",
              "name" : "ConvertRecord",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
              "id" : "cda0c910-261e-3e85-bd79-a96d12e42047",
              "name" : "ConvertRecord",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
            "identifier" : "728447a3-9411-3416-b0ca-21b7ee781ed4",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
              "id" : "efc8861c-9f31-38f9-80a0-90828dfd8a3a",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 1096.0,
              "y" : 256.0
            }, {
              "x" : 1100.4616529777145,
              "y" : 300.85147525625723
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
              "id" : "8a71e994-e288-3c59-9b1d-2c8cc823bfbb",
              "name" : "ExecuteSQL",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
            "identifier" : "72123527-d465-31ab-a065-6d5e86e55183",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
              "id" : "8a71e994-e288-3c59-9b1d-2c8cc823bfbb",
              "name" : "ExecuteSQL",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "10 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
              "id" : "efc8861c-9f31-38f9-80a0-90828dfd8a3a",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
            "identifier" : "bb6b2981-250b-3c87-bc69-0d9d50d19acb",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
              "id" : "99fa68f2-0056-3641-86fd-b349b78b36fd",
              "name" : "PG_INSERT",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "10 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
            "identifier" : "efc8861c-9f31-38f9-80a0-90828dfd8a3a",
            "position" : {
              "x" : 324.5000440909958,
              "y" : 47.99993564444085
            }
          } ],
          "groupIdentifier" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
          "identifier" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
            "identifier" : "99fa68f2-0056-3641-86fd-b349b78b36fd",
            "name" : "PG_INSERT",
            "position" : {
              "x" : 232.0,
              "y" : -152.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ ],
          "name" : "Postgres INSERT",
          "outputPorts" : [ ],
          "position" : {
            "x" : 752.0,
            "y" : 424.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "success" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
            "identifier" : "c39a4dd4-fc92-3538-99b3-6e948c96d9fa",
            "name" : "INSERT postgresql",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 172.5000440909958,
              "y" : 415.9999356444408
            },
            "properties" : {
              "put-db-record-allow-multiple-statements" : "false",
              "table-schema-cache-size" : "0",
              "put-db-record-schema-name" : "public",
              "put-db-record-quoted-table-identifiers" : "true",
              "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
              "put-db-record-translate-field-names" : "false",
              "put-db-record-dcbp-service" : "d211c155-7dbe-32e2-a9c1-6e79fae6c6be",
              "put-db-record-query-timeout" : "0 seconds",
              "rollback-on-failure" : "true",
              "put-db-record-statement-type" : "INSERT",
              "db-type" : "PostgreSQL",
              "put-db-record-update-keys" : "${pk}",
              "put-db-record-quoted-identifiers" : "true",
              "put-db-record-table-name" : "fal_${tabla}",
              "put-db-record-unmatched-field-behavior" : "Fail on Unmatched Fields",
              "put-db-record-max-batch-size" : "100",
              "put-db-record-record-reader" : "28269a70-213a-38d4-b2ae-16cdd1045c7e"
            },
            "propertyDescriptors" : {
              "put-db-record-allow-multiple-statements" : {
                "displayName" : "Allow Multiple SQL Statements",
                "identifiesControllerService" : false,
                "name" : "put-db-record-allow-multiple-statements",
                "sensitive" : false
              },
              "table-schema-cache-size" : {
                "displayName" : "Table Schema Cache Size",
                "identifiesControllerService" : false,
                "name" : "table-schema-cache-size",
                "sensitive" : false
              },
              "put-db-record-schema-name" : {
                "displayName" : "Schema Name",
                "identifiesControllerService" : false,
                "name" : "put-db-record-schema-name",
                "sensitive" : false
              },
              "put-db-record-field-containing-sql" : {
                "displayName" : "Field Containing SQL",
                "identifiesControllerService" : false,
                "name" : "put-db-record-field-containing-sql",
                "sensitive" : false
              },
              "put-db-record-quoted-table-identifiers" : {
                "displayName" : "Quote Table Identifiers",
                "identifiesControllerService" : false,
                "name" : "put-db-record-quoted-table-identifiers",
                "sensitive" : false
              },
              "Statement Type Record Path" : {
                "displayName" : "Statement Type Record Path",
                "identifiesControllerService" : false,
                "name" : "Statement Type Record Path",
                "sensitive" : false
              },
              "put-db-record-unmatched-column-behavior" : {
                "displayName" : "Unmatched Column Behavior",
                "identifiesControllerService" : false,
                "name" : "put-db-record-unmatched-column-behavior",
                "sensitive" : false
              },
              "put-db-record-catalog-name" : {
                "displayName" : "Catalog Name",
                "identifiesControllerService" : false,
                "name" : "put-db-record-catalog-name",
                "sensitive" : false
              },
              "put-db-record-translate-field-names" : {
                "displayName" : "Translate Field Names",
                "identifiesControllerService" : false,
                "name" : "put-db-record-translate-field-names",
                "sensitive" : false
              },
              "put-db-record-dcbp-service" : {
                "displayName" : "Database Connection Pooling Service",
                "identifiesControllerService" : true,
                "name" : "put-db-record-dcbp-service",
                "sensitive" : false
              },
              "put-db-record-query-timeout" : {
                "displayName" : "Max Wait Time",
                "identifiesControllerService" : false,
                "name" : "put-db-record-query-timeout",
                "sensitive" : false
              },
              "rollback-on-failure" : {
                "displayName" : "Rollback On Failure",
                "identifiesControllerService" : false,
                "name" : "rollback-on-failure",
                "sensitive" : false
              },
              "put-db-record-statement-type" : {
                "displayName" : "Statement Type",
                "identifiesControllerService" : false,
                "name" : "put-db-record-statement-type",
                "sensitive" : false
              },
              "db-type" : {
                "displayName" : "Database Type",
                "identifiesControllerService" : false,
                "name" : "db-type",
                "sensitive" : false
              },
              "put-db-record-update-keys" : {
                "displayName" : "Update Keys",
                "identifiesControllerService" : false,
                "name" : "put-db-record-update-keys",
                "sensitive" : false
              },
              "put-db-record-quoted-identifiers" : {
                "displayName" : "Quote Column Identifiers",
                "identifiesControllerService" : false,
                "name" : "put-db-record-quoted-identifiers",
                "sensitive" : false
              },
              "put-db-record-table-name" : {
                "displayName" : "Table Name",
                "identifiesControllerService" : false,
                "name" : "put-db-record-table-name",
                "sensitive" : false
              },
              "put-db-record-unmatched-field-behavior" : {
                "displayName" : "Unmatched Field Behavior",
                "identifiesControllerService" : false,
                "name" : "put-db-record-unmatched-field-behavior",
                "sensitive" : false
              },
              "put-db-record-max-batch-size" : {
                "displayName" : "Maximum Batch Size",
                "identifiesControllerService" : false,
                "name" : "put-db-record-max-batch-size",
                "sensitive" : false
              },
              "put-db-record-record-reader" : {
                "displayName" : "Record Reader",
                "identifiesControllerService" : true,
                "name" : "put-db-record-record-reader",
                "sensitive" : false
              },
              "Data Record Path" : {
                "displayName" : "Data Record Path",
                "identifiesControllerService" : false,
                "name" : "Data Record Path",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
            "identifier" : "8a71e994-e288-3c59-9b1d-2c8cc823bfbb",
            "name" : "ExecuteSQL",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 632.0,
              "y" : 208.0
            },
            "properties" : {
              "esql-max-rows" : "0",
              "dbf-default-precision" : "10",
              "Max Wait Time" : "0 seconds",
              "Database Connection Pooling Service" : "d211c155-7dbe-32e2-a9c1-6e79fae6c6be",
              "dbf-user-logical-types" : "false",
              "dbf-default-scale" : "0",
              "compression-format" : "NONE",
              "esql-output-batch-size" : "0",
              "esql-fetch-size" : "0",
              "SQL select query" : "delete from \"fal_${tabla}\"",
              "dbf-normalize" : "false"
            },
            "propertyDescriptors" : {
              "esql-max-rows" : {
                "displayName" : "Max Rows Per Flow File",
                "identifiesControllerService" : false,
                "name" : "esql-max-rows",
                "sensitive" : false
              },
              "dbf-default-precision" : {
                "displayName" : "Default Decimal Precision",
                "identifiesControllerService" : false,
                "name" : "dbf-default-precision",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Connection Pooling Service" : {
                "displayName" : "Database Connection Pooling Service",
                "identifiesControllerService" : true,
                "name" : "Database Connection Pooling Service",
                "sensitive" : false
              },
              "sql-post-query" : {
                "displayName" : "SQL Post-Query",
                "identifiesControllerService" : false,
                "name" : "sql-post-query",
                "sensitive" : false
              },
              "dbf-user-logical-types" : {
                "displayName" : "Use Avro Logical Types",
                "identifiesControllerService" : false,
                "name" : "dbf-user-logical-types",
                "sensitive" : false
              },
              "dbf-default-scale" : {
                "displayName" : "Default Decimal Scale",
                "identifiesControllerService" : false,
                "name" : "dbf-default-scale",
                "sensitive" : false
              },
              "sql-pre-query" : {
                "displayName" : "SQL Pre-Query",
                "identifiesControllerService" : false,
                "name" : "sql-pre-query",
                "sensitive" : false
              },
              "compression-format" : {
                "displayName" : "Compression Format",
                "identifiesControllerService" : false,
                "name" : "compression-format",
                "sensitive" : false
              },
              "esql-output-batch-size" : {
                "displayName" : "Output Batch Size",
                "identifiesControllerService" : false,
                "name" : "esql-output-batch-size",
                "sensitive" : false
              },
              "esql-fetch-size" : {
                "displayName" : "Fetch Size",
                "identifiesControllerService" : false,
                "name" : "esql-fetch-size",
                "sensitive" : false
              },
              "SQL select query" : {
                "displayName" : "SQL select query",
                "identifiesControllerService" : false,
                "name" : "SQL select query",
                "sensitive" : false
              },
              "dbf-normalize" : {
                "displayName" : "Normalize Table/Column Names",
                "identifiesControllerService" : false,
                "name" : "dbf-normalize",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8bc77aca-fd20-3aa3-b5bd-e09068d7a83b",
            "identifier" : "cda0c910-261e-3e85-bd79-a96d12e42047",
            "name" : "ConvertRecord",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 172.5000440909958,
              "y" : 199.99993564444085
            },
            "properties" : {
              "record-writer" : "d3cd7d01-ef18-3e26-a301-b81d9c6559d2",
              "record-reader" : "f1608f96-f0b0-31a3-acda-5d5766be163b",
              "include-zero-record-flowfiles" : "false"
            },
            "propertyDescriptors" : {
              "record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "record-writer",
                "sensitive" : false
              },
              "record-reader" : {
                "displayName" : "Record Reader",
                "identifiesControllerService" : true,
                "name" : "record-reader",
                "sensitive" : false
              },
              "include-zero-record-flowfiles" : {
                "displayName" : "Include Zero Record FlowFiles",
                "identifiesControllerService" : false,
                "name" : "include-zero-record-flowfiles",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ConvertRecord",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "unmatched" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.15.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "93c52bc7-0ad2-3c6b-acab-1e107222af4f",
          "identifier" : "cb4df5c5-31c3-35a0-80e9-c5ca38e914d4",
          "name" : "Full/Incremental",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1016.0,
            "y" : 152.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "full_semanal" : "${tipo_trigger:equals( 'full_semanal' ):and(${directo_a_metabase:equals('true')})}",
            "full_diaria" : "${tipo_trigger:equals( 'full_diaria' ):and(${directo_a_metabase:equals('true')})}",
            "incremental" : "${tipo_trigger:equals( 'incremental' ):and(${directo_a_metabase:equals('true')})}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "full_semanal" : {
              "displayName" : "full_semanal",
              "identifiesControllerService" : false,
              "name" : "full_semanal",
              "sensitive" : false
            },
            "full_diaria" : {
              "displayName" : "full_diaria",
              "identifiesControllerService" : false,
              "name" : "full_diaria",
              "sensitive" : false
            },
            "incremental" : {
              "displayName" : "incremental",
              "identifiesControllerService" : false,
              "name" : "incremental",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}